#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/nginx-proxy-automation
#
NETWORK=webproxy

# Your domain (or domains)
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com
